@model QuanLyKhoThucPham.Models.NhaCungCapModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Chỉnh Sửa Thông Tin</h1>

<h4>NhaCungCap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-maNhaCungCap="@Model.MaNhaCungCap">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaNhaCungCap" />
            <div class="form-group">
                <label asp-for="TenNhaCungCap" class="control-label"></label>
                <input asp-for="TenNhaCungCap" class="form-control" />
                <span asp-validation-for="TenNhaCungCap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label"></label>
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>

            <div style="margin-top: 20px; display: flex; gap: 10px; align-items: center;">
                <button type="submit"
                        style="background-color: #007bff; color: white; padding: 10px 15px; border: none; border-radius: 5px; cursor: pointer; font-size: 16px;">
                    Lưu thay đổi
                </button>

                <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
